.top-line {
            border-top: 2px dotted #444;
            width: 90%;
            margin: 20px auto;
        }

        .stats-card {
            border-radius: 15px;
            padding: 20px;
            color: #000;
            font-weight: 600;
            text-align: center;
            background: linear-gradient(to right, #c9d6ff, #e2e2ff);
        }

        .search-box {
            border-radius: 50px;
            border: 1.5px solid #aaa;
            padding-left: 20px;
        }

        .table td,
        .table th {
            vertical-align: middle;
            font-size: 14px;
        }

        .show-btn {
            color: #427bff;
            cursor: pointer;
            font-weight: 600;
        }